.upload {
  border-top: solid 1px #CCC;
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;
}

.upload .progress {
    margin-top: 8px;
    border: solid 1px #555;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.upload .progress .bar {
  height: 10px;
  background: #3EC144;
}
